.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #e1e9ff;
    color: rgb(255, 255, 255);
    background: #3265ff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    border-radius: 4px;
    transition: 0.7s;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover{
    background: #00406e;
    border-color: #00406e;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
    transition: 0.7s;

  }
  
  .button.invalid{
    background-color:  rgb(197, 54, 54);
    filter:blur(1px)
  }
  
  .button.invalid-one:active{
    background-color: rgb(197, 54, 54);
  }

  .button:disabled{
      background-color: rgb(71, 71, 71);
      border-color: grey;
      transition: 0.7s;

  }
  .button:disabled:hover{
    background-color: rgb(147, 147, 147);
    border-color: grey;
    transition: 0.7s;
}