*{
    font-family: 'Poppins';
    margin-top: 12px; 
}

form{
    font-weight: 500;
    box-sizing: border-box;
    max-width: 500px;
    margin: auto;
    box-shadow: 2px black;
    border-radius: 20px;
}

.input{
    margin: auto;
    width: 500px;
    height: 30px;
    border:  1px solid grey;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
