.card{
    border: 0.1ex solid grey;
    box-sizing: border-box;
    width: 900px;
    max-width: fit-content;
    padding: 12px;
    margin: auto;
    border-radius: 12px;
}
 
.form{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(253, 176, 230, 0.482);
}
 
.form-data{
    background-color: rgba(253, 176, 230, 0.482);
    font-size: small;
    max-width: 520px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      
    align-items: left;  
} 